<head>
    <link rel="shortcut icon" href="/static/defaultFavicon.ico">
    <title>{{ websiteTitle }}</title>

    <!-- needed for @media-css mofiers -->
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link rel="stylesheet" href="/static/navbar.css">
    <link rel="stylesheet" href="/static/results.css">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="/static/site.css">
    <link rel="stylesheet" href="/static/home.css">

    <script src="/static/site.js" defer></script>
</head>
