.login-container{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(white,#fa739d,#d17d97);
    padding: 20px;
    width: 90%;
}

input{
    font-size: 30px;
    margin-top: 20px;
    margin-right: 20px;
}

.login-button{
    padding-left:  20px;
    padding-right: 20px;
    background-color: #FF6B6B;
    border-color: black;
}

.login-button:hover{
    background-color: #c75454;
}

@media(max-width: 500px){
    .login-container{
        margin-top: 50px;
        padding: 4vw; 
    }
    input{
        font-size: 7vw;
        margin-top: 2vw;
        margin-right: 1vw;
        max-width: 95%;
    }

    .button{
        font-size: 7vw;
        margin-top: 5vw;
    }
}
