.navbar{
    text-align: center;
    font-size: 30px;
    width: 100%;
    background-color: #39464e;
    height: 35px;
}

.navbar-left{
    float: left;
    text-decoration: none;
    color: white;
    margin-left: 2%;
}

.navbar-right{
    float: right;
    text-decoration: none;
    color: white;
    margin-right: 2%;
}

.username{
    float: right;
    margin-right: 2%;
    font-style: italic;
    color: white;
}
