.seriesResultRank{
    margin-left:1%;
    float: left;
    width: 10%;
}

.seriesTitle{
    float: left;
    width: 25%;
}

.seriesScore{
    float: right;
    width: 15%;
    text-align: right;
}

.dropdownButton{
    float: right;
    text-align: right;
    margin-right: 1%;
    width: 20%;
}

/* #################### LEADERBOARDS ##################### */
.results-container{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    width: 80%;
    max-width: 800px;
}

.colum-names{
    width: 100%;
    font-weight: bold;
    background-color: #00B800;
    overflow: hidden;
    font-weight: bold;
}

.line-even{
    width: 100%;
    background-color: #999999; /* 60% grey */
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
}

.line-odd{
    width: 100%;    
    background-color: lightgrey;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
}

.seriesDetailsContainer{
    height: 300px;
    background: blue;
    display: none;
}

.traffic-light{
    margin: 4%;
    height: 80%;
    float: left;
    width: 20%;
    background-color: grey;
}

.light{
    opacity: 0.1;
    height: 30%;
    width:  50%;
    display: inline-block;
    border-radius: 50%;
    margin-left: 25%;
    margin-top:   3%;
}

.green{
    background: lawngreen;
}

.yellow{
    background: yellow;
}

.red{
    background: red;
}

@media(max-width: 800px){
    .results-container{
        font-size: 4.5vw;
        width: 100%;
    }
    
    .colum-names{
        white-space: nowrap;
        overflow: hidden;
    }

    .seriesTitle{
        overflow: hidden;
        white-space: nowrap;
        width: 30%;
        /* write over games */
        z-index: 2;
    }

    .seriesTitle:hover{
        overflow: visible;
        white-space: normal;
    }

    .dropdownButton{
        text-align: left;
    }

    .seriesResultRank{
        width: unset;
        margin-right: 20px;
    }

    .seriesScore{
        /* 19% is just enought to cut the last letter */
        width: 19%;
    }
}

/* ######################## FOOTER ####################### */ 
.footer{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    position: fixed;
    width: 100%;
    background-color: grey;
    bottom: 0;
    left: 0;
    height: 30px;
    
}

.footerLink{
    margin-top: 0;
    padding-top: 0;
    font-size: 12pt;
    text-decoration: none;
    color: black;
}
.mid{
    margin-right: 25%;
    margin-left: 25%;
}


@media(max-width: 800px){
    .footer{
        height: unset;
    }

    .footerLink{
        font-size: 4vw;
    }
    
    .mid{
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}
