<html>
<head>
    {{ header }}
</head>
<body>

    <!-- navbar -->
    {{ navbar }}

    <!-- Space, vline, picture -->
    <div class="main-container">
        
        <div class=search>
            <input class=search-field></input>
            <button class=go-button>Search!</button>
        </div>

        <div class=suggest>
            <button class=go-button>Suggest something!</button>
            <input type=checkbox class=suggest-filter></input><span>Option 1</span>
        </div>

    </div>

    {{ footer }}

</body>
