<html>
<head>
    {{ header }}
</head>
<body>

    <!-- navbar -->
    {{ navbar }}

    <!-- Space, vline, picture -->
    <div class="main-container">
        
        <div class=search>
            <input class=search-field></input>
            <button class=go-button onclick=searchButton()>Search!</button>
        </div>

        <div class=suggest>
            <button class=go-button onclick=suggestButton()>Suggest something!</button>
            {% for prerenderFilter in prerenderedFilters %}
                {{ prerenderFilter }}
            {% endfor %}
        </div>

    </div>

    <!-- footer -->
    {{ footer }}

</body>
